body{
  background: linear-gradient(0deg, rgba(149,236,236,1), rgba(149,236,236,0));
}

h1{
  text-align: center;
  font-size: 42px;
}
h1 span {
 color: rgb(255, 161, 12);
}

h2{
  text-align: center;
}
h2 span {
 color: rgb(251, 120, 53);
}

h3{
  font-size: 23px;
}
h4{
  font-size: 19px;
}

.break{
  font-size: 30px;
}

.line-separator{
height:5px;
border-bottom:5px solid rgb(25, 216, 227);
width: 323px;
margin-left: auto;
margin-right: auto;
}

.container{
  display: flex;
  justify-content: center;
}

.section_one{
  background-color: rgb(94, 230, 237);
  height: 325px;
  width: 275px;
  margin: 45px;
  margin-left: 65px;
  float: left;
  border-radius: 25px;
}

.section_two{
  background-color: rgb(25, 219, 230);
  height: 325px;
  width: 275px;
  margin: 45px;
  float: left;
  border-radius: 25px;
}

.section_three{
  background-color: rgb(94, 230, 237);
  height: 325px;
  width: 275px;
  margin: 45px;
  float: left;
  border-radius: 25px;
}

.section_over{
  background-color: white;
  height: 225px;
  width: 200px;
  margin-left: 38px;
  border-radius: 25px;
}

#pops:hover {
 -webkit-transform: scale(1.25);
  -moz-transform: scalle(1.25);
  position: relative;
  z-index: 5;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clear{
  clear: both;
}

.design_break{
  background-color: rgba(255,255,255,0.4);
  border: 5px solid orange;
  border-radius: 25px;
  margin-left: 350px;
  margin-right: 350px;
}

.break_content{
  text-align: center;
}

.submit_button{
  font-size: 21px;
  background-color: rgb(94, 230, 237);
  border: 2px solid rgb(25, 219, 230);
  border-radius: 10px;
}
.submit_button:hover {background-color: rgb(25, 219, 230);}

.submit_button:active {
  background-color: rgb(25, 219, 230);
  transform: translateY(4px);
}
