
body{
  background: linear-gradient(0deg, rgba(164,230,237,1), rgba(164,230,237,0));
}

h1{
  text-align: center;
  font-size: 46px;
}
h1 span {
  color: rgb(255, 161, 12);
  font-size: 42px;
}

h2{
  text-align: center;
}

.line-separator{
height:5px;
border-bottom:5px solid rgb(25, 216, 227);
width: 323px;
margin-left: auto;
margin-right: auto;
}

.table_container{
  padding-left: 6%;
  padding-right: 6%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 2px solid rgb(25, 216, 227);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(255, 224, 179);
}
