<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/friends.css">
    <title>your friends</title>
  </head>

  <body>
    <h1> break<span>pro</span> </h1>
    <div class="line-separator"></div>

    <br><br><br>
    <p>Your Friends</p>

    <br>
    <br>

    {% for friend in friends%}
      {{friend.email}} <br>
    {% endfor %}

    <form method="post" action ="">
      <input type="text" name="friend_email"><br><br>
      <input class = "submit_button" type="submit" value="Add Friend"><br>
    </form>
  </body>

</html>
