<!-- This is the html for the log in page -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>login in </title>
  </head>

  <body>
    <h1> break<span>pro</span> </h1>
    <div class="line-separator"></div>
    <br>
    <br>

    <div class = "container">
      <div class = "section_one">
        <h2>sign <span>in</span>:</h2>
        <div class = "section_over">
          <img src="/images/settings.png" width="165">
        </div>
      </div>
    </div>

    <a href="{{login}}">Sign In</a>
  </body>

</html>
