<!-- THIS IS THE HTML FOR THE HOME PAGE -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    <title>breakpro</title>
  </head>

  <body>
    <div class= "top_bar">
      <h1> break<span>pro</span> <h1>
        <div class="line-separator"></div>
    </div>

    <div class = "container">
      <div class = "section_one" id="pops">
         <h2>your <span>settings</span>:</h2>
         <div class = "section_over">
           <br><br><a href="settings?user={{user_id}}"><img src="/images/settings.png" width="165"></a>
         </div>
      </div>
      <div class = "section_two" id="pops">
        <h2>your <span>logs</span>:</h2>
        <div class = "section_over">
          <br><br><a href="user_log?user={{user_id}}"><img src="/images/logs.png" width="185"></a>
        </div>
      </div>
      <div class = "section_three" id="pops">
        <h2>your <span>friends</span>:</h2>
        <div class = "section_over">
          <br><br><a href="friends?user={{user_id}}"><img src="/images/friends.png" width="185"></a>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <br>
    <br>
    <div class="line-separator"></div>
    <br>
    <h2 class = "break">your <span>break</span>:</h2>
    <section class= "design_break">
      <div class ="break_content">
        <h3> What task are you working on?</h3>

        <form method="post" action ="">
        <h4>Enter your task: <input type="text" name="task"></h4><br>

        <h3>How long is your break?</h3>
        <h4>Enter your break length (minutes): <input type="number" min="1" max="120" name="break_length"></h4><br>

        <input type="radio" name="reminder" value="halfway">Remind me when my break is halfway over<br>
        <input type="radio" name="reminder" value="onethird">Remind me when my break is a third of the way over<br>
        <input type="radio" name="reminder" value="onefourth">Remind me when my break is a fourth of the way over<br>
        <input type="radio" name="reminder" value="noreminder">No thank you, I don't want any reminders sent on my break
        </form>

        <h3>What type of reminder messages do you want to receive?: <br></h3>
        <input type="radio" name="message_type" value="nice">Nice
        <input type="radio" name="message_type" value="mean">Mean
        <input type="radio" name="message_type" value="funny">Funny

        <h3>How many times will you allow yourself to "snooze"?</h3>
        <input type="radio" name="snoozes" value="3">3
        <input type="radio" name="snoozes" value="5">5
        <input type="radio" name="snoozes" value="7">7

        <p><input class = "submit_button" type="submit" value="Start Timer"></p><br>

        </form>
      </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <div class = "gradient"> </div>
  </body>

</html>
