<!-- this is for when we finally start working on the settings aspect -->
<!DOCTYPE html>

<html>
  <head>
    <title>User Settings</title>
    <style>

    h1{
      text-align: center;
    }
    </style>
  </head>

  <body>
    <h1>your settings </h1>

    <h2>Let's personalize your breaks like a Pro!</h2>

    <form action ="/" method="post">

      <h3>How often do you want reminders sent?<br></h3>
      <h4>Every <input type="number" min="1" name="remind_length"/> minutes </h4>
      <h3>What type of reminder messages do you want to receive?: <br></h3>
        <input type="radio" name="message_type" value="nice">Nice
        <input type="radio" name="message_type" value="mean">Mean
        <input type="radio" name="message_type" value="funny">Funny

      <h3>How many times will you allow yourself to "snooze"?</h3>
      <input type="radio" name="snoozes" value="3">3
      <input type="radio" name="snoozes" value="5">5
      <input type="radio" name="snoozes" value="7">7

      <h3>Would you like a copy of your logs e-mailed to you?</h3>
      <input type="radio" name="email_option" value="yes">yes
      <input type="radio" name="email_option" value="no">no

      <h3>Would you like a copy of your logs e-mailed to your friends?</h3>
      <input type="radio" name="email_option_friend" value="yes">yes
      <input type="radio" name="email_option_friend" value="no">no


      <p><input type="submit" value="Submit"></p>

    </form>



  </body>

</html>
