<!-- this is for when we finally start working on the settings aspect -->
<!DOCTYPE html>

<html>
  <head>
    <title>User Settings</title>
    <style>

    h1{
      text-align: center;
    }
    </style>
  </head>

  <body>
    <h1>your settings </h1>

    <h2>Let's personalize your breaks like a Pro!</h2>

    <form method="post" action="" >

      <h3> Check an option below if you would like reminders set during your break </h3>
                   <h4>(check as many options as necessary)<h4>
      <form action="">
      <input type="radio" name="reminder" value="halfway">Remind me when my break is halfway over<br>
      <input type="radio" name="reminder" value="onethird">Remind me when my break is a third of the way over<br>
      <input type="radio" name="reminder" value="onefourth">Remind me when my break is a fourth of the way over<br>
      <input type="radio" name="reminder" value="noreminder">No thank you, I don't want any reminders sent on my break
      </form>

      <h3>What type of reminder messages do you want to receive?: <br></h3>
        <input type="radio" name="message_type" value="nice">Nice
        <input type="radio" name="message_type" value="mean">Mean
        <input type="radio" name="message_type" value="funny">Funny

      <h3>How many times will you allow yourself to "snooze"?</h3>
      <input type="radio" name="snoozes" value="3">3
      <input type="radio" name="snoozes" value="5">5
      <input type="radio" name="snoozes" value="7">7

      <h3>Would you like a copy of your logs e-mailed to you?</h3>
      <input type="radio" name="email_option" value="yes">yes
      <input type="radio" name="email_option" value="no">no

      <h3>Would you like a copy of your logs e-mailed to your friends?</h3>
      <input type="radio" name="email_option_friend" value="yes">yes
      <input type="radio" name="email_option_friend" value="no">no


      <p><input type="submit" value="submit"></p>

    </form>



  </body>

</html>
