<!-- this is for when we finally start working on the settings aspect -->
<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/stylesheets/settings.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/scripts/settings_jquery.js"></script>

    <title>User Settings</title>

  </head>

  <body>
    <h1> break<span>pro</span> </h1>
    <div class="line-separator"></div>
    <h4 class ="email"> {{email}}</h4>
    <br>
    <h2> personalize your breaks like a <span>pro</span>:</h2>
    <div class="design_settings">
      <br>
      <form method="post" action="/home" >
        <br>
        <br>
        <div class= "settings_content">
          <h3>Do you want any time reminders during your break?</h3>

          <input type="checkbox" name="reminder_half" id="half_reminder" value="Half">Remind me when my break is halfway over<br>
          <input type="checkbox" name="reminder_third" id="third_reminder" value="Third">Remind me when I have a third of my break left<br>
          <input type="checkbox" name="reminder_fourth" id="fourth_reminder" value="Fourth">Remind me when I have a fourth of my break left<br>

          <h3>How many times will you allow yourself to snooze?</h3>
          <input type="radio" name="snoozes_allowed" value="1" required>1 Times <br>
          <input type="radio" name="snoozes_allowed" value="3">3 Times <br>
          <input type="radio" name="snoozes_allowed" value="5">5 Times <br>

          <h3>Time each snooze lasts?</h3>
          <input type="radio" name="snoozes_length" value="5" required>5 Minutes <br>
          <input type="radio" name="snoozes_length" value="10">10 Minutes <br>
          <input type="radio" name="snoozes_length" value="15">15 Minutes <br>

          <h3>What type of reminder messages do you want to receive?</h3>
          <input type="radio" name="message_type" value="nice" required>Nice <br>
          <input type="radio" name="message_type" value="mean">Mean <br>
          <input type="radio" name="message_type" value="funny">Funny <br><br>

          <p><input type="submit" id="save" value="Save Settings"></p>
        </div>
        <br>
        <br>

      </form>
    </div>
    <br>
    <br>
    <br>
    <div class="line-separator"></div>
    <br>
    <div class="container_two">
      <div class="section_two">
        <div class="section_two_over">
          <a href="/home"><img src="/images/home.png" width="85"></a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <br>
    <br>
    <br>
    <br>
  </body>

</html>
