<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/timer.css">
  </head>
<body>
    <p>Break Timer</p>
    <button onclick="breakTimer({{timer.break_length}}, {{timer.reminder_frequency}}, {{timer.reminder_amount}})">Start Timer</button>
    <div id="clockdiv">
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
  <script src="/scripts/timer.js"></script>
</body>
</html>
