<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/stylesheets/timer.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <title>timer</title>
  </head>

  <body onload="breakTimer({{timer.break_length}}, {{timer.reminder_frequency}}, {{timer.reminder_amount}}, {{timer.halfway_int}}, {{timer.third_int}}, {{timer.quarter_int}})">
    <h1 class = "break"> break<span>pro</span> </h1>
    <div class="line-separator"></div>
    <br>
    <br>
    <br>
    <div class = "container">
      <div class = "section_one">

        <div id="clockdiv">
            <span class="minutes"></span>:
            <span class="seconds"></span>
          </div>
        </div>
    </div>
    <br>

    <div class = "timer_letters">
      <h1>T &nbspI&nbsp M&nbsp E&nbsp R&nbsp</h1>
    </div>
    <br>
    <div class="line-separator"></div>

    <div class="clear"></div>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">x</span>
        <p>Get back to work!</p>
        <button id="ok">I will!</button>
        <button id="snooze">Just a little more break time...</button>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container_two">
      <div class="section_two">
        <div class="section_two_over">
          <a href="/home"><img src="/images/home.png" width="85"></a>
        </div>
      </div>
    <div>
    <div class="clear"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <script src="/scripts/timer.js"></script>
    <script src="/scripts/alerts.js"></script>
  </body>

</html>
