<!-- I'VE INSERTED A FAKE ENTRY ENTRY -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/ulogs.css">
    <title>your log</title>
  </head>

  <body>
    <h1> break<span>pro</span> <h1>
    <div class="line-separator"></div>
    <h2>how you've been spending your breaks:</h2>
    <br>
    <div class = "table_container">
      <br>
      <br>
      <table>
        <tr >
          <th class = "first_row"> Log Entry</th>
          <th class = "first_row"> Date</th>
          <th class = "first_row"> Task</th>
          <th class = "first_row"> Number of Snoozes</th>
          <th class = "first_row"> Total Time on breakpro</th>
        </tr>

        <tr class = "logs">
          <td>#1</td>
          <td>7/25/16</td>
          <td>Finish CSSI Final Project</td>
          <td>5</td>
          <td>30 mins</td>
        </tr>
        <tr class = "logs">
          <td>#2</td>
          <td>7/26/16</td>
          <td>Study for AP Calc Test</td>
          <td>8</td>
          <td>60 mins</td>
        </tr>
        <tr class = "logs">
          <td>#3</td>
          <td>7/26/16</td>
          <td>Catch 3 Pikachus</td>
          <td>2</td>
          <td>20 mins</td>
        </tr>

        {% for timer in timers%}
        <tr class = "logs">
          <td>#{{count.value}}</td>
          <td>7/25/16</td>
          <td>{{timer.timer_task}}</td>
          <td>{{timer.reminder_frequency}}</td>
          <td>{{timer.break_length}} mins</td>
        </tr>

        {% endfor %}

      </table>
      <br>
      <br>
      <br>
      <br>
    </div>

    <br>
    <br>
    <br>
    <br>
    <div class="line-separator"></div>
    <br>
    <div class="container_two">
      <div class="section_two">
        <div class="section_two_over">
          <a href="/"><img src="/images/home.png" width="85"></a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <br>
    <br>
    <br>
    <br>


    </body>
</html>
