<!-- I'VE INSERTED A FAKE ENTRY ENTRY -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/ulogs.css">
    <title>your log</title>
  </head>

  <body>
    <h1> break<span>pro</span> <h1>
    <div class="line-separator"></div>
    <h4 class ="email"> {{email}}</h4>
    <h2>how you've been spending your breaks:</h2>
    <br>
    <div class = "table_container">
      <br>
      <br>
      <table>
        <tr >
          <th class = "first_row"> Log Entry</th>
          <th class = "first_row"> Date</th>
          <th class = "first_row"> Task</th>
          <th class = "first_row"> Number of Snoozes</th>
          <th class = "first_row"> Total Time on breakpro</th>
        </tr>

        {% for timer in timers%}
        <tr class = "logs">
          <td></td>
          <td>7/29/16</td>
          <td>{{timer.timer_task}}</td>
          <td>{{timer.reminder_frequency}}</td>
          <td>{{timer.break_length}} mins</td>
        </tr>

        {% endfor %}

      </table>
      <br>
      <br>
      <br>
      <br>
    </div>

    <br>
    <br>
    <br>
    <br>
    <div class="line-separator"></div>
    <br>
    <div class="container_two">
      <div class="section_two">
        <div class="section_two_over">
          <a href="/home"><img src="/images/home.png" width="85"></a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    </body>
</html>
